.current-weather-wrapper{
    background-color: #1E213A;
    width: 425px;
    height: 100vh;
}

.weather-icon-wrapper{
    position: absolute;
    top: 103px;
    background-image: url('../../assets/Cloud-background.png');
    background-position: center;
    opacity: 10%;
    width: 425px;
    height: 300px;
}